.box {
    border-radius: 5px;
    border-color: black;
}
.first-box {
    background-color: blue;
}
.second-box {
    background-color: purple;
}
.third-box {
    background-color: cyan;
}
.first-sentence{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
}
.second-sentence {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
}
.fourth-box {
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 9px 3px #000;
}