.first-box {
    background-color: red;
}
.second-box {
    background-color: brown;
}
.third-box {
    background-color: pink;
}
.first-sentence{
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
}
.second-sentence {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}
.fourth-box {
    background-color: white;
    box-shadow: -5px 7px 3px #000;

    
}

